<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ServletDemo</display-name>
  <!-- in this element, we declare our servlet to the web container -->
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>com.revature.servlet.LoginServlet</servlet-class> <!-- FULLY QUALIFIED CLASSNAME -->
  </servlet>
  <!-- in this element, we map the servlet to a url pattern -->
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>